menuentry "LosowySYS - Microkernel" {
	multiboot /boot/losowysys.bin
}

menuentry "CPU" {
	cpu_props
	echo $"Press any key to go back to GRUB"
	sleep --interruptible 9999
}

menuentry "Reboot" {
	reboot
}
